*:after,
*:before {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

h1{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

p{
    margin: 0;
    padding: 0;
}
a:focus {
    outline:0;
}
a:hover,
a:active {
    outline:0;
}

input:focus {
    outline:0;
}

button {
    background: none;
    border: 0;
    color: inherit;
}
button:focus {
    outline: none;
}

/* main style */

body{
    font-size: 11px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrap{
    width: 990px;
    margin: 0 auto;
}
.header__row_logo-row{
    background-color: #f8f8f8;
}
.header__row_nav-row{
   background-image: linear-gradient(to top, #f8f8f8 0%, #dcdee1 100%);
    border-bottom: 1px solid #c6c7ca;
}
.header__line {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0 18px 0;
}
.header-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-section--user-info{
    width: 70%;
}
.header-section_logo{

}


.logo{
    position: relative;
    
}
.logo__link{

    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.logo__main-text{
    font-size: 464%;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -3px;
}
.logo__text_first-letter {
    color: #adabab;
}

.logo__label {
    display: inline-block;
    padding: 1px 4px;
    color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 136.36%;
    font-weight: 700;
    /*line-height: 17px;*/
    background-color: #81d8d0;
    border-radius: 2px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 0.2s ;
    position: absolute;
    top: 15px;
    right: -61px;
}
.logo__label:hover{
    background-color: #f65423;
}

.logo--footer {

}

.logo__main-text--grey{
     color: #adabab;
 }
.logo__main-text--footer{
    font-size: 300%;
}
.logo__index--bg-grey{
    background-color: #adabab;
    font-size: 91%;
    padding: 2px 3px;
}
.header-section__inner-block_currency-login{
    text-align: right;
    margin-right: 20px;
}
.header-section__inner-block_shop-cart{
    width: 40%;
    max-width: 199px;
    margin-bottom: 2px;

}

.login-form__authorization{
    margin-right: 20px;
}
.currency{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
}
.currency__title{

}
.currency__list {

}
.currency__item{
    display: inline-block;

}

.currency-button{
    background-color: black;
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2px;
    margin-left: 6px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.currency-button--active{
    background-image:  linear-gradient(to top, #070707 0%, #252525 100%);
    color: #fff;
}

.authorization-form {
    margin-bottom: 2px;
}
.authorization-form__text--login{
     color: #81d8d0;
 }
.authorization-form__text--create{
    color: #ff7272;
}
.shopping-cart{
     display: flex;
     height: 45px;
     background-image: linear-gradient(to top, #070707 0%, #252525 100%);
     border-radius: 5px;
     align-items: center;
     padding: 9px;
     box-sizing: border-box;
 }

.shop_cart-basket{
    width: 27px;
    height: 25px;
    border-right: 1px dotted #484848;
    padding-right: 11px;
}
.shop_cart-basket img{
    width: 100%;
}
.shopping-cart{
    position: relative;
}

.shopping-cart-info{
    padding: 0 11px;
    border-left: 1px dotted #484848;
}
.shopping-cart:before{
    width: 27px;
    height: 25px;
    margin-right:11px;
    content: "";
    display: block;
    background-image: url(../img/icons/backet.png);
}
.shopping-cart:after{
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow_down.png);
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    right: 10px;
}

.shopping-cart p , .shopping-cart h4  {
    margin: 0;
    padding: 0;
}
.shop_cart-info__header {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 6px;
}
.shop_cart-info__purchase_date-item{
    color: #8a8989;
    display: inline-block;
}

.purchase_date-dropdown_arrow{
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow_down.png);
    float: right;
    cursor: pointer;
}
.header__nav{

}

/* --- NAV BLOCK---- */
.nav-search{
    width: 35%;
}

.nav-panel__block_input {
    width: 40%;
}
.search-field__input{
    width: 85%;
    max-width: 290px;
    height: 23px;
    margin-right: 3px;
    border: 1px solid #c6c7ca;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    outline: none;
    padding: 0;
    vertical-align: bottom;
}
input, select{border: 1px solid #aaa;}

.search-field__submit{
    width: 42px;
    height: 23px;
    background-image: url(../img/icons/search-icon.png), linear-gradient(to top, #070707 0%, #252525 100%);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    vertical-align: bottom;
}

input[type="search"].search-field__input {
    -webkit-appearance: none;
}

.nav-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.nav-menu__list{
    margin-bottom: -3px;
}

.nav-menu__item{
    display: inline-block;
    padding-right: 13px;
    font-family: Arial;
    text-transform: uppercase;
}
.nav-menu__item:last-child {
    padding-right: 0;
}
.nav-menu__link{
    text-decoration: none;
    display: block;
    color: #a8a9aa;
}
.nav-menu-item:last-child{
    padding-right: 0
}
.nav-menu__link_active{
   color: black;
}
.nav-menu__link:before{
    display: inline-block;
    margin-right: 4px;
    background-color: black;
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    border-radius: 2px;
    content: "\25BA";
    padding: 6px;
    box-sizing: border-box;
    transform: scale(0.6);
}

.showcase-inn{
    display: flex;
    padding: 20px;
    background-color: #ffffff;
}

.showcase-inn__col_sidebar{
    width: 16.15%;
    max-width: 150px;
    margin-right: 10px;
}
.showcase-inn__col_main-content {
    width: 83.8%;
    max-width: 790px;
}
.sidebar-nav{
    padding: 0 11px 2px 8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
}
.sidebar-nav-menu{
    margin: 0;
    padding: 0;
}
.sidebar-menu__item {
    border-top: 1px solid #484848;
    color: #959595;
    font-family: Arial;
    text-transform: uppercase;
    list-style-type: none;

}
.sidebar-menu__item:last-child {
    padding-bottom: 2px;
}
.sidebar-menu__item-title {
    /*border-top: 1px solid #484848;*/
    padding-bottom: 5px;
    padding-top: 6px;
    position: relative;
    color: white;
}
.sidebar-menu__item-title_active{
    border-bottom: 1px solid #484848;
    border-top: none;
}
.sidebar-menu__item-title:after {
    /*float: right;*/
    /*width:10px;*/
    /*height: 10px;*/
    /*border-radius: 20%;*/
    /*background-color: white;*/
    /*background-image: url(../img/icons/arrow_down.png);*/
    content: '';
    background-image: url('../img/icons/arrow-right.png') , linear-gradient(180deg, white 0%, #c7c7c7 100%);
    height: 15px;
    width: 15px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    /* bottom: 25%; */
    top: 50%;
    margin-top: -0.625em;
}

.sidebar-menu__item_active .sidebar-menu__item-title_active:after {

    background-image: url('../img/icons/arrow-down.png');
    background-color: #fff;
    opacity: 1;
}

.sidebar-submenu{
    padding: 5px 0 25px 12px;
}
.submenu-item{
    list-style-type: none;
    color: #8a8989;
    font-family: Arial;
    line-height: 17px;
    text-transform: none;
}
}
.sidebar-menu__item_active{
    color: #fff;
}
.submenu-item_active{
    color: #fff;
}
.submenu-item span{
    color: #81d8d0;
}

.showcase{
    background-color: #f8f8f8;
}

.showcase-sidebar__social{
    margin-top: 10px;
}
.social-block{
    width:100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.social-block_fb{
    background-color: #2f54a6;
}

.social-block_is{
    background-color: #f83b01;
}
.social-block__name{
    font-family: Arial;
    font-size: 109%;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding: 4px 0 4px 3px;
    line-height: 23px;
    position: relative;
    /*letter-spacing: -1.2px;*/
}
.social-block__name:before{
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right: 10px;

}
.social-block__name:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../img/icons/arrow_down.png');
    background-repeat: no-repeat;
    transform: rotate(270deg);
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(270deg);
    -moz-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    transform:  translateY(-50%) rotate(270deg);
}
.social-block__name_fb:before{
    background-image: url('../img/icons/fb.png');
}
.social-block__name_is:before{
    background-image: url('../img/icons/is.png');
}

.showcase-slider{
    max-width: 790px;
    width: 84%;
    border-radius: 5px;
    overflow: hidden;
}
.slider{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.current-slide__img{
    margin-top: -120px;
}
.current-slide__img img{
    width: 100%;
}
.slider__slides-list{
    position: absolute;
    bottom: 0;
    margin: 3px;
}

.slides-list{
    display: table;
    table-layout:auto;
    border: 1px solid white;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}
.slides-list__item {

    max-width: 120px;
    display: table-cell;
    padding-right: 10px;
}
.slides-list__item:last-child{
    padding-right: 0;
}
.slide-list__img{
    width:100%;
    height: 60px;
}
.current-slide__nav {
    position: absolute;
    bottom: 95px;
    right: 0;
}
.current-slide__text{
    padding-right: 10px;
}
.current-slide__title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 255%;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #212122;
    opacity: 0.95;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    padding: 7px 124px 8px 20px;
    letter-spacing: -1.2px;
    display: flex;
    align-items: center;
}
.current-slide__title:after{
    content: "";
    width: 35px;
    height:35px;
    display: block;
    background-color: #81d8d0;
    background-image: url('../img/icons/arrow-right_big.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.showcase-proposal__row_call-action{
    margin-top: 10px;
}
.call-action-block__item{
    display: inline-block;
    width: 49.5%;
}

.call-action-block__item:first-child{
    margin-right: 1%;
}
.call-action-item{
    position: relative;
}
.call-action-button__link{
    background-image: url('../img/icons/shop-text.png'), url('../img/icons/arrow-right.png') ;
    display: block;
    background-color: #81d8d0;
    height: 100%;
    background-position: 8px center , 144px center;
    background-repeat: no-repeat;
    border-radius: 11px;
}
.call-action-button__link_gren{
    background-color: #81d8d0;
}
.call-action-button__link_red{
    background-color: #ff7272;
}
.call-action-button__text{

}
.call-action-item__button {
    position: absolute;
    right: 19px;
    bottom: 16px;
    width: 158px;
    height: 25px;
}
.call-action-item__button_pading-right{
    right: 14px;
}
.call-action-button{
    height: 100%;
}

.showcase-proposal__row_deals-day{
    padding: 10px 0 15px 30px;
    border: 1px solid #dfe1e4;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
}

.deals-day-block{
    width: 100%;
}
.deals-day-block__col{
    /*display: inline-block;*/
}

.deals-day-block-info{

    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}
.deals-day-block__col_info{
    width: 26%;
    display: inline-block;
    margin-top: 40px;
}
.deals-day-block__col_slider{
    width: 72%;
    float: right;
    margin-top: 31px;
}
.call-text-block_title{
    line-height: 1;
}
.deals-day-block-info__text-row_title{
    font-size: 464%;
    letter-spacing: -1.2px;
    line-height: 1;
}
.call-text-block__unit_f41{
    font-size: 80.4%;
}
.deals-day-block-info__text-row_description{
    font-size: 145.5%;
}
.call-text-block__unit{
    vertical-align: top;
    line-height: 1;
}
.call-text-block__unit_br{
    display: block;
}
.call-text-block__unit_grey{
    color: #767575;
}
.call-text-block__unit_green{
    color: #81d8d0;
}
.call-text-block__unit_semi-bold{
    font-weight: 600;
}
.deals-day-block-slider{
    display: table;
    position: relative;;
}
.deals-day-block-slider:before{
    content: "";
    width: 18px;
    height: 26px;
    background-image: url('../img/icons/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}
.deals-day-block-slider:after{
    content: "";
    width: 18px;
    height: 26px;
    background-image: url('../img/icons/arrow-right-grey.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    right: 10px;
}
.deals-day-block-slider__item{
    display: table-cell;
    vertical-align: top;
    width: 30%;
}
.deals-day-product__image{
    position: relative;
    height: 138px;
}
.deals-day-product__image img{
   max-height: 138px;
}

.deals-day-product__image-special-offers{
    background-image: url('../img/icons/spec-ofer.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 34px;
    left: 13px;
}
.product-block-title{
    color: #b2b2b2;
    font-size: 109%;
    text-decoration: underline;
    text-align: center;
    line-height: 1.5;
}
.product-block-title_red{
    color: #ff7272;
}
.product-block-title_2row{
    width: 80%;
    margin: 0 auto;
}
.product-block-title__unit_upper{
    text-transform: uppercase;
}
.deals-day-product__price{

}

.product-block{
    padding: 18px 5px 15px 10px;
}
.product-price{
    text-align: center;
    color: #81d8d0;
    line-height: 1.5;

}
.product-block__link{
    display: block;
    height: 100%;
}
.product-block__image{
    text-align: center;
    min-height: 150px;
}
.product-block__price{
    display: inline-block;
}
.product-block__btn{
    float:right;
    vertical-align: top;
 }

.product-price__item_old{
    text-decoration: line-through;
}
.product-price__item_new{
    font-size: 109%;
    font-weight: 700;
}

.showcase-proposal__row_special-offers{
    margin-top: 10px;
 }

.special-offers{
    display: flex;
    justify-content: space-between;

}
.special-offers__item{
    border: 1px solid #dfe1e4;
    max-width: 190px;
    width: 24%;
}
.btn-details{
    width: 68px;
    height: 24px;
    background-image:url('../img/icons/arrow-right-white.png'), linear-gradient(to top, #545454 0%, #5e5e5e 100%);
    background-repeat: no-repeat;
    background-position: 53px center, center;
    border-radius: 2px;
    border-bottom: 1px solid #212122;
}
.btn-details_red{
    background-image: url('../img/icons/arrow-right-white.png'),  linear-gradient(to top, #ed6464 0%, #ff7272 100%);
    border-bottom: 1px solid #ae4a4a;

}
.btn-details__btn{
    line-height: 24px;
}

.btn-details__text{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 12px;
}
