*:after,
*:before {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

p{
    margin: 0;
    padding: 0;
}
a:focus {
    outline:0;
}
a:hover,
a:active {
    outline:0;
}

input:focus {
    outline:0;
}


button {
    background: none;
    border: 0;
    color: inherit;
}
button:focus {
    outline: none;
}

/* main style */
html{
    font-size: 11px;
}


body{
    font-size: 11px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrap{
    width: 990px;
    margin: 0 auto;
}
.header__row_logo-row{
    background-color: #f8f8f8;
}
.header__row_nav-row{
   background-image: linear-gradient(to top, #f8f8f8 0%, #dcdee1 100%);
}
.header__line {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0 18px 0;
}
.header-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-section--user-info{
    width: 70%;
}
.header__nav__snadow-block{
    position: absolute;
    height: 10px;
    width: 1560px;
    left: 50%;
    margin-left: -780px;
    content: "";
    background: url("../img/shadow-header.png");
}
.logo{
    position: relative;
    
}
.logo__link{

    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.logo__main-text{
    font-size: 4.64rem;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -3px;
    margin-left: -2px;
}
.logo__text_first-letter {
    color: #adabab;
}

.logo__label {
    display: inline-block;
    padding: 4px 4px;
    color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 136.36%;
    font-weight: 700;
    background-color: #81d8d0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top: 15px;
    right: -57px;
    line-height: 1;
    letter-spacing: -0.5px;
}
.logo__label_hover:hover{
    background-color: #f65423;
}

.logo_footer {
    text-align: right;
    padding-right: 40px;
    margin-bottom: 12px;
}

.logo__main-text_grey{
     color: #adabab;
 }


.logo__main-text_footer{
    font-size: 3rem;
    color: #adabab;
    letter-spacing: -2px;
}
.logo__index--bg-grey{
    background-color: #adabab;
    font-size: 91%;
    padding: 2px 3px;
}
.logo__label_footer{
    top: 8px;
    right: 0;
    font-size: 0.91rem;
    color: #f8f8f8;
    background-color: #adabab;
    padding: 3px 4px 3px 4px;
}


.header-section__inner-block_currency-login{
    text-align: right;
    margin-right: 20px;
}
.header-section__inner-block_shop-cart{
    width: 40%;
    max-width: 199px;
    margin-bottom: 2px;

}

.login-form__authorization{
    margin-right: 20px;
}
.currency{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.currency__item{
    display: inline-block;

}
.currency-button{
    background-color: black;
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2px;
    margin-left: 6px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    font-size: 1rem;
}

.currency-button--active{
    background-image:  linear-gradient(to top, #070707 0%, #252525 100%);
    color: #fff;
}

.authorization-form {
    margin-bottom: 2px;
}
.authorization-form__text--login{
     color: #81d8d0;
 }
.authorization-form__text--create{
    color: #ff7272;
}
.shopping-cart{
     display: flex;
     height: 45px;
     background-image: linear-gradient(to top, #070707 0%, #252525 100%);
     border-radius: 5px;
     align-items: center;
     padding: 9px;
     box-sizing: border-box;
    cursor: pointer;
 }

.shop_cart-basket{
    width: 27px;
    height: 25px;
    border-right: 1px dotted #484848;
    padding-right: 11px;
}
.shop_cart-basket img{
    width: 100%;
}
.shopping-cart{
    position: relative;
}

.shopping-cart-info{
    padding: 0 11px;
    border-left: 1px dotted #484848;
}
.shopping-cart:before{
    width: 27px;
    height: 25px;
    margin-right:11px;
    content: "";
    display: block;
    background-image: url(../img/icons/backet.png);
}
.shopping-cart:after{
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow_down.png);
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    right: 10px;
}

.shopping-cart p , .shopping-cart h4  {
    margin: 0;
    padding: 0;
}
.shop_cart-info__header {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 4px;
}
.shop_cart-info__purchase_date{
    margin-bottom: 1px;
}
.shop_cart-info__purchase_date-item{
    color: #8a8989;
    display: inline-block;
}

.shopping-cart__item_box{
    background-color: white;
    position: absolute;
    top: 51px;
    right: 0;
    left: 0;
    z-index: 5;
    border-radius: 5px;
    overflow: hidden;
}
.shopping-cart-box{

}
.shopping-cart-box-product{
    display: flex;
    padding: 12px 8px 12px 7px;
    background-image: linear-gradient(to bottom, #fff 50%, #f6f7f7 100%);
}
.btn-esc{
    width: 11px;
    height: 11px;
    background-image: url(../img/btn-esc.png);
    cursor: pointer;

}
.btn-esc_red{
    background-image: url(../img/btn-esc_red.png);
}
.shopping-cart-box-product-total{
    text-align: right;
    padding: 0 8px 8px 0;
}
.shopping-cart-box-product-total__list{
    margin-top: 11px;
    margin-bottom: 9px;
}
.shopping-cart-box-product-total-list__title{
    display: inline-block;
    margin-right: 7px;
    font-weight: 700;
}
.shopping-cart-box-product-total-list__value{
    display: inline-block;
    text-align: left;
     padding-right: 7px;
}
.shopping-cart-box-product-total__btn{
    display: inline-block;
}
.shopping-cart-box-product-total-list__text{
     line-height: 17px;
}

.purchase_date-dropdown_arrow{
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow_down.png);
    float: right;
    cursor: pointer;
}


/* --- NAV BLOCK---- */
.nav-search{
    width: 35%;
}

.nav-panel__block_input {
    width: 40%;
}
.search-field__input{
    width: 85%;
    max-width: 290px;
    height: 23px;
    margin-right: 3px;
    border: 1px solid #c6c7ca;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    outline: none;
    padding: 0;
    vertical-align: bottom;
}
input, select{border: 1px solid #aaa;}

.search-field__submit{
    width: 42px;
    height: 23px;
    background-image: url(../img/icons/search-icon.png), linear-gradient(to top, #070707 0%, #252525 100%);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    vertical-align: bottom;
}

input[type="search"].search-field__input {
    -webkit-appearance: none;
}

.nav-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.nav-menu__list{
    display: flex;
}

.nav-menu__item{
    padding-right: 22px;
    text-transform: uppercase;
}
.nav-menu__item:last-child {
    padding-right: 0;
    margin-right: 0;
}
.nav-menu__link{
    text-decoration: none;
    display: block;
    color: #a8a9aa;
}
.nav-menu__link_ltr-spec{
    letter-spacing: 0.5px;
}

.nav-menu-item:last-child{
    padding-right: 0
}
.nav-menu__link_active{
   color: black;
}
.nav-menu__link:before{
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 7px;
    background-color: black;
    background-image: url(../img/icons/btn-arrow.png), linear-gradient(180deg, white 0%, #c7c7c7 100%);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    content: "";
    vertical-align: bottom;
    margin-bottom: -1px;
}

.showcase-inn{
    display: flex;
    background-color: #ffffff;
}
.showcase-inn-paddimg{
    padding: 18px 20px 20px 20px ;
}


.showcase-inn__col_sidebar{
    width: 16.15%;
    max-width: 150px;
    margin-right: 10px;
}
.showcase-inn__col_main-content {
    width: 83.8%;
    max-width: 790px;
}
.sidebar-nav{
    padding: 2px 11px 2px 8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
}
.sidebar-nav-menu{
    margin: 0;
    padding: 0;
}
.sidebar-menu__item {
    border-top: 1px solid #484848;
    color: #685f5f;
    text-transform: uppercase;
    list-style-type: none;

}
.sidebar-menu__item:last-child {
    padding-bottom: 2px;
}
.sidebar-menu__item-title {
    padding-bottom: 5px;
    padding-top: 6px;
    position: relative;
}
.sidebar-menu__item-title_active{
    border-bottom: 1px solid #484848;
    border-top: none;
}
.sidebar-menu__item-title:after {
    content: '';
    background-image: url('../img/icons/arrow-right.png') , linear-gradient(180deg, white 0%, #c7c7c7 100%);
    height: 15px;
    width: 15px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -0.625em;
}

.sidebar-menu__item_active .sidebar-menu__item-title_active:after {

    background-image: url('../img/icons/arrow-down.png');
    background-color: #fff;
    opacity: 1;
}

.sidebar-submenu{
    padding: 5px 0 25px 12px;
}
.submenu-item{
    list-style-type: none;
    color: #8a8989;
    line-height: 17px;
    text-transform: none;
}

.submenu-item_active{
    color: #fff;
}
.submenu-item span{
    color: #81d8d0;
}

.showcase{
    background-color: #f8f8f8;
}

.showcase-sidebar__social{
    margin-top: 10px;
}
.social-block{
    width:100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.social-block_fb{
    background-color: #2f54a6;
}

.social-block_is{
    background-color: #f83b01;
}
.social-block__name{
    font-family: Arial;
    font-size: 109%;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding: 4px 0 4px 3px;
    line-height: 23px;
    position: relative;
    /*letter-spacing: -1.2px;*/
}
.social-block__name:before{
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right: 10px;

}
.social-block__name:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../img/icons/arrow_down.png');
    background-repeat: no-repeat;
    transform: rotate(270deg);
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(270deg);
    -moz-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    transform:  translateY(-50%) rotate(270deg);
}
.social-block__name_fb:before{
    background-image: url('../img/icons/fb.png');
}
.social-block__name_is:before{
    background-image: url('../img/icons/is.png');
}

.showcase-slider{
    max-width: 790px;
    width: 84%;
    border-radius: 5px;
    overflow: hidden;
}
.slider{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.current-slide__img{
    margin-top: -120px;
}
.current-slide__img img{
    width: 100%;
}
.slider__slides-list{
    position: absolute;
    bottom: 0;
    margin: 0 3px 3px 3px;
}

.slides-list{
    display: table;
    table-layout:auto;
    border: 1px solid white;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}
.slides-list__item {

    max-width: 120px;
    display: table-cell;
    padding-right: 10px;
}
.slides-list__item:last-child{
    padding-right: 0;
}
.slide-list__img{
    width:100%;
    height: 60px;
}
.current-slide__nav {
    position: absolute;
    bottom: 93px;
    right: 0;
}
.current-slide__text{
    padding-right: 10px;
}
.current-slide__title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 255%;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #212122;
    opacity: 0.95;
    border-radius: 5px 5px 0 0;
    padding: 6px 124px 9px 20px;
    letter-spacing: -1.2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.current-slide__title:after{
    content: "";
    width: 35px;
    height:35px;
    display: block;
    background-color: #81d8d0;
    background-image: url('../img/icons/arrow-right_big.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}

.showcase-proposal__row_call-action{
    margin-top: 10px;
}
.call-action-block__item{
    display: inline-block;
    width: 49.5%;
}

.call-action-block__item:first-child{
    margin-right: 1%;
}
.call-action-item{
    position: relative;
}
.call-action-item__link{
    display: block;
}
.call-action-button__btn{
    background-image: url('../img/icons/shop-text.png'), url('../img/icons/arrow-right.png') ;
    display: block;
    background-color: #81d8d0;
    height: 100%;
    background-position: 8px center , 144px center;
    background-repeat: no-repeat;
    border-radius: 11px;
}
.call-action-button__btn_green{
    background-color: #81d8d0;
}
.call-action-button__btn_red{
    background-color: #ff7272;
}

.call-action-item__button {
    position: absolute;
    right: 19px;
    bottom: 16px;
    width: 158px;
    height: 24px;
}
.call-action-item__button_shift-right{
    right: 13px;
}

.call-action-button{
    height: 100%;
}

.showcase-proposal__row_deals-day{
    padding: 10px 0 17px 30px;
    border: 1px solid #dfe1e4;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
}

.deals-day-block{
    width: 100%;
}

.deals-day-block-info{

    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}
.deals-day-block__col_info{
    width: 26%;
    display: inline-block;
    margin-top: 40px;
}
.deals-day-block__col_slider{
    width: 72%;
    float: right;
    padding-top: 14px;
}
.call-text-block_title{
    line-height: 1;
}
.deals-day-block-info__text-row_title{
    font-size: 464%;
    letter-spacing: -1.2px;
    line-height: 1;
}
.call-text-block__unit_f41{
    font-size: 80.4%;
}
.deals-day-block-info__text-row_description{
    font-size: 145.5%;
}
.call-text-block__unit{
    vertical-align: top;
    line-height: 1;
}
.call-text-block__unit_br{
    display: block;
}
.call-text-block__unit_grey{
    color: #767575;
}
.call-text-block__unit_green{
    color: #81d8d0;
}
.call-text-block__unit_semi-bold{
    font-weight: 600;
}
.deals-day-block-slider{
    display: table;
    position: relative;;
}
.deals-day-block-slider__btm{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
.deals-day-block-slider__item{
    display: table-cell;
    vertical-align: top;
    width: 30%;
    padding-top: 14px;
}
.deals-day-product{
    text-align: center;
}
.deals-day-product__image{
    position: relative;
    height: 138px;
}
.deals-day-product__image img{
   max-height: 138px;
}

.deals-day-product__image-special-offers{
    background-image: url('../img/icons/spec-ofer.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 34px;
    left: 13px;
}
.deals-day-product__title{
    padding-top: 3px;
}
.product-block-title{
    color: #b2b2b2;
    font-size: 109%;
    text-decoration: underline;
    text-align: center;
    line-height: 1.5;
}
.product-block-title_shopping-cart{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    text-align: left;
}
.product-block-title_red{
    color: #ff7272;
}
.product-block-title_2row{
    width: 80%;
    margin: 0 auto;
}
.product-block-title__unit_upper{
    text-transform: uppercase;
}
.product-block-title__unit_compressed{
    letter-spacing: -0.7px;
}

.shopping-cart-box-product__quantity{
    display: inline-block;
}
.shopping-cart-box-product-quantity{
    font-weight: 700;
}
.shopping-cart-box-product-quantity span{
    margin-right: 4px;
}
.shopping-cart-box-product-quantity span:last-child{
    margin-right: 3px;
}
.shopping-cart-box-product__title{
    margin-bottom: 3px;
    line-height: 1.5;
}
.shopping-cart-box-product__img{
    margin-right: 10px;
    width: 85px;
}
.shopping-cart-box-product__price{
    display: inline-block;
}
.shopping-cart-box-product__nav{
    margin-top: -4px;
}
.product-block{
    position: relative;
    padding: 18px 5px 15px 10px;
}
.product-price{
    color: #81d8d0;
    line-height: 1.5;

}
.product-block__link{
    display: block;
    height: 100%;
}
.product-block__image{
    text-align: center;
    min-height: 150px;
    max-height: 140px;
    overflow: hidden;
}
.product-block__image img{
    text-align: center;
    min-height: 135px;
    max-height: 140px;
    margin-top: 14px;
}
.product-block__price{
    display: inline-block;
}
.product-block__btn{
    float:right;
    vertical-align: top;
 }

.product-price__item_old{
    text-decoration: line-through;
}
.product-price__item_new{
    font-size: 109%;
    font-weight: 700;
}
.product-price__item_big{
    font-size: 1.55rem;
    margin-top: -5px;
}

.showcase-proposal__row_special-offers{
    margin-top: 10px;
 }

.special-offers{
    display: flex;
    justify-content: space-between;

}
.special-offers__item{
    border: 1px solid #dfe1e4;
    max-width: 190px;
    width: 24%;
    border-radius: 5px;
}
.btn-details{
    width: 67px;
    height: 24px;
    background-image: url('../img/icons/arrow-right-white.png'), linear-gradient(to top, #545454 0%, #5e5e5e 100%);
    background-repeat: no-repeat;
    background-position: 56px center, center;
    border-radius: 2px;
    border-bottom: 1px solid #212122;
    margin-right: 5px;
}
.btn-details_red{
    background-image: url('../img/icons/arrow-right-white.png'),  linear-gradient(to top, #ed6464 0%, #ff7272 100%);
    border-bottom: 1px solid #ae4a4a;

}
.btn-details_shopping-cart{
    width: 81px;
    background-position: 69px center, center;
    text-align: left;
    margin-right: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-details_shopping-cart:hover{
    background-image: url('../img/icons/arrow-right-white.png'), linear-gradient(to top, #000 0%, #000 100%);
}
.btn-details__btn{
    line-height: 24px;
    cursor: pointer;
}

.btn-details__text{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 12px;
}

.product-block__text{
    line-height: 1.5;
    margin-bottom: 15px;
    color: #414141;
    word-break: break-all;
    padding-top: 5px;
}
.product-block__label-special-offer{
    position: absolute;
    top: 45px;
    height: 61px;
    left: 0;
}
.showcase-inn__brands{
    width:100%;
}
.brands-slider{
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;

}

.brands-slider-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-slider-list__item{
    display: block;
    height: 100%;
    margin-right: 30px;
}

.brands-slider-list__item:last-child{
    margin-right: 0;
}

.btn-slide{
    height: 28px;
    width: 18px;
    cursor: pointer;
}

.btn-slide_deals-day{
    cursor: pointer;
    margin-top: -14px;
}
.btn-slide_next {
    background: url("../img/icons/arrow-left.png") no-repeat center;
    transform: rotate(180deg);
}

.btn-slide_prev {
    background: url("../img/icons/arrow-left.png") no-repeat center;
}

.showcase-inn__snadow-block{
    height: 10px;
    background: url("../img/shadow-block.jpg") no-repeat center;
}
.showcase-inn__snadow-block_footer{
    background: url("../img/shadow-block-footer.jpg") no-repeat center;
}
.page-footer{
    background-color:#f8f8f8;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
}
.footer__nav{
    margin:  17px 0 30px 0;;
}
.footer__info{
    margin: 74px 20px 30px 0;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
 }

.footer-menu-section-list__item:before{
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 7px;
    background-color: black;
    background-image: url(../img/icons/btn-arrow.png), linear-gradient(180deg, white 0%, #c7c7c7 100%);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    content: "";
    vertical-align: bottom;
    margin-bottom: -1px;
}
.footer-menu-section{
    padding: 10px 0 14px 0;
}
.footer-menu__item{
    width: 160px;
    margin-left: 20px;
    border-right: 1px solid #cacaca;
}
.footer-menu-section-list__item{
    margin-bottom: 8px;
    letter-spacing: -0.1px;
}
.footer-menu-section__title{
    margin-bottom: 16px;
    font-size: 1.455rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.footer-menu-section__title h3{
    font-size: 1em;
}

.hidden{
    display: none;
}